* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#main {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    height: 10px;
    width: 10px;
    background: rgb(0, 255, 234);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.3s;
}

h1 {
    font-size: 10vh;
    font-weight: 900;
    color: red;
}