* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: azure; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 3rem auto;
    width: 90%;
    padding: 2.5rem 3rem;
    color: white;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
        radial-gradient(circle at 25% 20%, rgba(255, 0, 0, 0.6) 10%, transparent 40%),
        radial-gradient(circle at 70% 70%, rgba(255, 255, 255, 0.6) 20%, black 20%);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.head-title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;

}

.input-box {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-box input {
    flex: 2;
    padding: 0.6rem 1.5rem;
    border-style: none;
    font-size: 20px;
    outline: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: #888;
}

.input-box input:active {
    background: transparent;
}

.input-box input:hover {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
}

.input-box button {
    padding: 0.6rem 1.5rem;
    flex: 1;
    font-size: 1.2rem;
    background: transparent;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
    border: none;
    box-shadow: 5px 5px 10px -2px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}


.icone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone img {
    text-align: center;
    padding: 2rem 1.5rem;
    height: 175px;
    width: 175px;
}

.location p {
    text-align: center;
    font-size: 30px;
}

#para {
    font-weight: bold;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

}

.info-container .box {
    /* padding: 1rem; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    gap: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}


span {
    color: crimson;
}

.city-span {
    font-size: 1.5rem;
    font-weight: 500;
}


@media screen and (max-width:768px) {
    .input-box {
        flex-direction: column;
    }

    .info-container .box {
        font-size: 1rem;
    }


}