* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin: 5rem;
}

#box {
    height: 250px;
    width: 250px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#head {
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: #fff; */
    border-radius: 0.3rem 0.3rem 0 0;

}

#image1 {
    height: 60%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1743961117237-a65e1abcab84?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1169");
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0.3rem 0.3rem;

}

#box span {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#box button {
    padding: 0.3rem 1.8rem;
    border-style: none;
    /* background-color: ; */

}

#image2 {
    height: 80%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1577457674621-d48c056f0505?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0.3rem 0.3rem;

}

#image3 {
    height: 80%;
    width: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1684993466316-81ae0b6c96ae?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1172");
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0.3rem 0.3rem;

}

#image4 {
    height: 80%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1718593383702-81951ba48612?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0.3rem 0.3rem;

}