* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* height: 100vh; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.container {
    margin: 4rem auto;
    max-width: 900px;
    width: 90%;
    box-shadow: 0 0 1rem rgba(255, 0, 0, 0.5);
    padding: 2rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: black;
    color: white;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    font-size: 18px;
    font-weight: 600;
    /* margin-left: 1rem; */
}

.location-info {
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

.head-bold {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 1rem rgba(100, 0, 150, 0.8);
    color: red;
}

.image-box{
    width: 200px;

}
#image {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 100%;
}
