* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
}

svg {
    width: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart {
    position: relative;
}

header .icon-cart span {
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20%;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 3px;
    font-size: small;
    font-weight: 700;
    font-size: 20px;
    padding: 0.5rem;
}

.listProduct .item button {
    background-color: #353342;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eeee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
    padding: 0 1rem;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

/* body.showCart .container {
    transform: translate(-50%,50%);
} */

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2 1fr);
}

.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #eee;
}

.cartTab.listCart .item img {
    width: 25px;
    height: 25px;
}

.cartTab .listCart .item .totalPrice {
    padding: 0 2rem 0;
    display: inline;
}

.cartTab .listCart .item .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartTab .listCart .item .minus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartTab .listCart .item .quantity .quantity-value {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartTab .listCart .item .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 10px; */
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 15px 50px 1fr;
    gap: 3rem;
    text-align: center;
    align-items: center;
    /* justify-content: space-evenly; */
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.listCart .ite:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width:990px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:760px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}