* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#container {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}

#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#container i {
    color: rgb(255, 0, 111);
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}